/* Reset styles */
*:not(.carousel), *:before, *:after {margin: 0; padding: 0; box-sizing: border-box; max-width: 100%;}
a {text-decoration: none;}
ul {list-style: none;}

/* Typography */
body {background-color: #434343; font-family: 'Source Sans Pro', sans-serif;}
h1 {color: white;}
.green {color: #53e21f;}
.blue {color: #4aa59d;}
.red {color: #dc3a26;}
.yellow {color: #f0bb40;}

/* Main container */
html, body, section {height: 100vh;}
.app-container {display: flex;}
.infographic-half {background-color: #434343; color: white; flex: 1; padding: 1rem; overflow-y: scroll;}
.map-half {background-color: #7a7a7a; flex: 1;}

/* Infographic side */

/* Headline */
.infographic-header i.site-back-arrow {display: inline-block; font-size: 30px; padding: 0 10px 0 15px;}
.infographic-header h1 {font-size: 50px; display: inline-block; padding: 5px 5px 5px 20px; margin: 0;}
.infographic-header-container {display: flex; flex-wrap: wrap; margin-left: 80px;}
.infographic-header-left {flex: 1;}
.infographic-header p.site-description {padding: 10px 30px 15px 0; min-width: 250px;}
.infographic-header ul.external-links li {display: inline-block;}
.infographic-header ul.external-links li a.site-info-link {display: inline-block;}
.infographic-header ul.external-links li a.site-info-link {color: white; padding: 0; margin: 5px 20px 0 0; transition: .3s;}
.infographic-header ul.external-links li a.site-info-link:hover {transform: scale(1.05); color: orange;}

.headline-stats {padding: 20px 0 0 80px; display: block;}
.headline-stats .main-headline-stat, .headline-stats .secondary-stats {display: inline-block;}
.headline-stats h3, .headline-stats h4 {display: inline-block;}
.headline-stats .main-headline-stat {color: green; margin-right: 10px;}
.headline-stats .main-headline-stat h3 {font-size: 35px;}
.headline-stats .main-headline-stat h4 {font-size: 28px; font-weight: 300;}
.headline-stats ul.secondary-stats li {display: inline-block; padding: 0 10px 0 0;}
.headline-stats .secondary-stats h3 {font-size: 23px;}
.headline-stats .secondary-stats h4 {font-size: 16px; font-weight: 300;}
.stat h5 {visibility: hidden;}

@media screen and (max-width: 800px) {
    .infographic-header h1 {font-size: 35px; padding-left: 10px;}
    .infographic-header-container {margin-left: 10px;}
    .headline-stats {padding-left: 10px;}
}

/* Site info */
.site-info-sections {margin: 20px 10px;}
.site-info-content {display: flex; flex-flow: row wrap;}
.site-info-content .graph-container {flex-basis: 70%; transition: height 1s linear;}
.site-info-content .graph-container img {display: block; margin: 0 auto; max-height: 300px;}
.site-info-content .graph-container img.inverted {filter: invert(0.735);}
.site-info-content .caption-container {margin-top: 10px; flex-basis: 30%;}
.site-info-title {display:flex; flex-direction:row; align-items: center;}
.site-info-title h4 {flex-grow: 0;}
.site-info-title hr {flex-grow:1; height: 1px; margin-left: 10px; background-color: #9f9f9f;}
.section-description {font-weight: 300; margin: 10px 15px;}
ul.site-data-carousel {margin: 10px 0; height: 240px; width: 100%; overflow-x: scroll; overflow-y: hidden; white-space:nowrap;}
ul.site-data-carousel li {display: inline-block; margin: 0 15px; vertical-align: top;}
ul.site-data-carousel li .data-carousel-header {height: 180px; overflow: hidden;}
ul.site-data-carousel li .data-carousel-header input {float: right; position: relative; top: 18px; right: 18px; transform: scale(1.5);}
ul.site-data-carousel li .data-carousel-header label {display: inline-block;}
ul.site-data-carousel li .data-carousel-header img {width: 130px; height: 130px; border-radius: 25px; transition: 0.2s; display: block; margin: 5px 4.5%; text-align: center;}
ul.site-data-carousel li .data-carousel-header img:hover {box-shadow: 0px 0px 5px 0px #FFFFFF;;}
ul.site-data-carousel li .data-carousel-header p {display: block; margin: 7.5px auto; font-weight: 300; text-align: center;}
ul.site-data-carousel li .data-carousel-header .info-circle {position: relative; float: right; bottom: 35px; right: 3px; font-size: 12px; transition: .5s; cursor: pointer;}
ul.site-data-carousel li .data-carousel-header .info-circle:hover {transform: scale(1.2); color: orange;}
ul.site-data-carousel li .controls {margin: 0 10px;}
ul.site-data-carousel .controls input {margin-left: 15px;}
ul.site-data-carousel .controls label {margin-left: 7.5px; font-weight: 300; font-size: 14px}

.site-info-section .carousel {height: 100px; margin: 20px 0 0 15px;}
.site-info-section .carousel-cell {width: 200px;}
.site-info-section .flickity-prev-next-button {width: 30px; height: 30px;}

/* Map side */
.selector.map {position: absolute; bottom: 0; right: 0; float: right; margin: 25px 60px; padding: 0 25px; background-color: #515151; border-radius: 25px; box-shadow: 5px 5px 15px -1px #000000; opacity: 0.85}
.selector.map ul li {display: inline-block; border-radius: 2px; width: 60px; height: 60px; vertical-align: top; text-align: center; margin: 0 1px; padding: 10px 0; font-size: 10px; transition: .3s}
.selector.map ul li:hover {background-color: grey;}
.selector.map ul li.active {background-color: orange;}
.selector.map ul li.active:hover {background-color: rgb(247, 219, 167);}
.selector.map ul li label i {font-size: 20px; padding-bottom: 5px;}
.selector.map ul li label {color: white;}
.selector.map ul li input {display: none;}
.selector.map li img.loading {display: none;}
.selector.map p.total {display: none;}

#regionswitcher {transform: scale(2.2); margin-right: 180px;}

/* Style Mapbox components */
#legend {background-color: #515151; color: #ffffff; padding: 15px; border-radius: 25px; box-shadow: 5px 5px 15px -1px #000000; opacity: 0.85}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {border-radius: 10px;}
.mapboxgl-ctrl.mapboxgl-ctrl-group:not(#legend) {filter: invert(0.75);}

/* iOS style segmented control */
.ios-segmented-control {--background: rgba(239,239,240,1); background: var(--background); border-radius: 9px; margin: 10px 0 0 0; padding: 2px; border: none; outline: none; display: grid; grid-auto-flow: column; grid-auto-columns: 1fr; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}  
.ios-segmented-control .option {position: relative; cursor: pointer;}
.ios-segmented-control .option:hover input:not(:checked) + label span, .ios-segmented-control .option:active input:not(:checked) + label span, .ios-segmented-control .option:focus input:not(:checked) + label span {opacity: .2;}
.ios-segmented-control .option:active input:not(:checked) + label span {transform: scale(.95);}  
.ios-segmented-control .option label {position: relative; display: block; text-align: center; padding: 3px 6vmin; background: rgba(255,255,255,0); font-weight: 500; color: rgba(0,0,0,1); font-size: 20px; height: 30px; line-height: 24px;}  
.ios-segmented-control .option label::before, .ios-segmented-control .option label::after {content: ''; width: 1px; background: rgba(142,142,147,.15); position: absolute; top: 14%; bottom: 14%; will-change: background; -webkit-transition: background .2s ease; transition: background .2s ease;}  
.ios-segmented-control .option label::before {left: 0; transform: translateX(-.5px);}  
.ios-segmented-control .option label::after {right: 0; transform: translateX(.5px);}  
.ios-segmented-control .option:first-of-type {grid-column: 1; grid-row: 1; box-shadow: none;}  
.ios-segmented-control .option:first-of-type label::before {opacity: 0;}  
.ios-segmented-control .option:last-of-type label::after {opacity: 0;}
.ios-segmented-control .option input {position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; padding: 0; margin: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; border: none; opacity: 0;}  
.ios-segmented-control .selection {background: rgba(255,255,255,1); border: .5px solid rgba(0,0,0,0.04); box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); border-radius: 7px; grid-column: 1; grid-row: 1; z-index: 2; will-change: transform; -webkit-transition: transform .2s ease; transition: transform .2s ease;}  
.ios-segmented-control .option label span {display: block; position: relative; z-index: 2; -webkit-transition: all .2s ease; transition: all .2s ease; will-change: transform;}
.ios-segmented-control .option input:checked+label::before, .ios-segmented-control .option input:checked+label::after {background: var(--background);z-index: 1;}
.ios-segmented-control .option input:checked+label {cursor: default;}