/* Reset styles */
*:not(.carousel), *:before, *:after {margin: 0; padding: 0; box-sizing: border-box; max-width: 100%;}
a {text-decoration: none;}
ul {list-style: none;}

/* Typography */
body, input, textarea, select, option {font-family: 'Arimo', sans-serif;}
h1 {color: white;}
.green {color: #53e21f;}
.blue {color: #4aa59d;}
.red {color: #dc3a26;}
.yellow {color: #f0bb40;}

/* Main container */
html, body, section {height: 100vh;}
.site-level-view {display: flex;}
.site-level-view .infographic-half {position: relative; background-color: #434343; color: white; flex: .92; padding: 1rem; overflow-y: scroll;}
.site-level-view .map-half {background-color: #7a7a7a; flex: 1.08;}

/* Infographic side */

/* Headline */
.site-level-view .infographic-half i.site-back-arrow {position: absolute; font-size: 30px; padding: 5px 10px 5px; border: 0.5px solid transparent; color: white; border-radius: 30px; transition: 0.3s;}
.site-level-view .infographic-header i.site-back-arrow:hover {transform: scale(1.2); color: orange; border-color: orange;}
.site-level-view .infographic-header h1 {font-size: 25px; display: inline-block; padding: 0 5px 5px 64px; margin: 0;}
.site-level-view .infographic-header-container {display: flex; flex-wrap: wrap; margin-left:65px;}
.site-level-view .infographic-header-left {flex: 1;}
.site-level-view .infographic-header-right {flex: 1; margin-right: 10px;}
.site-level-view .infographic-header p.site-description {padding: 10px 30px 15px 0; min-width: 250px; font-size: 15px;}
.site-level-view .infographic-header ul.external-links {margin-left: 61px; font-size: 16px;}
.site-level-view .infographic-header ul.external-links li {display: inline-block;}
.site-level-view .infographic-header ul.external-links li a.site-info-link {display: inline-block;}
.site-level-view .infographic-header ul.external-links li a.site-info-link {color: white; padding: 0; margin: 5px 20px 0 0; transition: .3s;}
.site-level-view .infographic-header ul.external-links li a.site-info-link:hover {transform: scale(1.05); color: orange;}

.site-level-view .headline-stats {padding: 15px 0 0 64px; display: block;}
.site-level-view .headline-stats {display: inline-block; }
.site-level-view .headline-stats .stat {display: inline-block; margin-right: 10px;}
.site-level-view .headline-stats .stat-flex-wrapper {display: flex;}
.site-level-view .headline-stats .stat-number {flex: 30%; padding-right: 3px;}
.site-level-view .headline-stats .stat-description {flex: 70%;}
.site-level-view .headline-stats .grid {display: grid; align-items: end}
.site-level-view .headline-stats h3, .headline-stats h4 {display: inline-block;}
.site-level-view .headline-stats .main-headline-stat {color: green; margin-bottom: 10px;}
.site-level-view .headline-stats .main-headline-stat h3 {font-size: 30px;}
.site-level-view .headline-stats .main-headline-stat h4 {font-size: 16px; font-weight: 400; line-height: 13px; margin-bottom: 5px;}
.site-level-view .headline-stats ul.secondary-stats li {display: inline-block; padding: 0 10px 0 0; margin-bottom: 5px;}
.site-level-view .headline-stats .secondary-stats {display: inline-block;}
.site-level-view .headline-stats .secondary-stats .stat .stat-description.grid {margin-bottom: 3px;}
.site-level-view .headline-stats .secondary-stats h3 {font-size: 25px; margin-top: 10px;}
.site-level-view .headline-stats .secondary-stats h4 {font-size: 12px; font-weight: 400;}
.site-level-view .stat h5 {visibility: hidden; justify-self: end;}

/* Site info */
.site-level-view .site-info-sections {margin: 8px 10px;}
.site-level-view .site-info-content {display: flex; flex-flow: row wrap;}
.site-level-view .site-info-content .graph-container {flex-basis: 100%; transition: height 1s linear; margin: 8px 0; }
.site-level-view .site-info-content .graph-container img {display: block; margin: 0; height: 277px; width: 495px;}
.site-level-view .site-info-content .graph-container img.inverted {filter: invert(0.735);}
.site-level-view .site-info-content .caption-container {font-weight: 400; font-size: 15px; line-height: 22px; margin: 10px 0 20px 20px; flex-basis: 30%; min-width: 200px;}
.site-level-view .site-info-title {display:flex; flex-direction:row; align-items: center;}
.site-level-view .site-info-title h4 {flex-grow: 0; font-size: 17px;}
.site-level-view .site-info-title p {margin-left: 10px;}
.site-level-view .site-info-title hr {flex-grow:1; height: 1px; margin-left: 10px; background-color: #9f9f9f;}
.site-level-view .section-description {font-weight: 300; font-size: 15px; line-height: 22px; margin: 15px 15px;}
.site-level-view ul.site-data-carousel {margin: 0; overflow-y: hidden; margin-bottom: 12px;}
.site-level-view ul.site-data-carousel li .data-carousel-header div.minimap {height: 140px;}
.site-level-view ul.site-data-carousel li {display: inline-block; margin: 0 15px; width: 140px; vertical-align: top;}
.site-level-view ul.site-data-carousel li .data-carousel-header {height: 180px; overflow: hidden;}
.site-level-view ul.site-data-carousel li .data-carousel-header input {float: right; position: relative; top: 25px; right: 18px; transform: scale(1.5); z-index: 500;}
.site-level-view ul.site-data-carousel li .data-carousel-header label {display: inline-block;}
.site-level-view ul.site-data-carousel li .data-carousel-header div.minimap {width: 130px; height: 130px; border-radius: 25px; transition: 0.2s; display: block; margin: 5px 4.5%; text-align: center; z-index: 0 /* Fix for Safari not showing border radius */}
.site-level-view ul.site-data-carousel li .data-carousel-header div.minimap:hover {box-shadow: 1px 1px 10px 1px #FFFFFF;}
.site-level-view ul.site-data-carousel li .data-carousel-header p {display: block; margin: 2.5px auto; font-weight: 300; font-size: 14px; text-align: center;}
.site-level-view ul.site-data-carousel li .data-carousel-header .info-circle {position: relative; float: right; bottom: 23px; right: 3px;}
.site-level-view ul.site-data-carousel li .controls {margin: 0 10px;}
.site-level-view ul.site-data-carousel li .controls input {margin-left: 15px;}
.site-level-view ul.site-data-carousel li .controls label {margin-left: 7.5px; font-weight: 300; font-size: 14px}
.site-level-view ul.site-data-carousel li .controls select {display: block; margin: 0 auto; filter: invert(0.87); transform: scale(1.1);}

.site-level-view .site-info-section .carousel {height: 150px; margin: 20px 0 20px 20px; padding-bottom: 20px;}
.site-level-view .site-info-section .carousel-cell {height: 100%; width: 200px; margin: 0 4px;}
.site-level-view .site-info-section .flickity-prev-next-button {width: 30px; height: 30px;}
.site-level-view .carousel.is-fullscreen .carousel-cell {height: 100%;}

/* Tooltips */
.info-circle {font-size: 12px; transition: .5s; cursor: zoom-in;}
.info-circle:hover {transform: scale(1.2); color: orange;}

/* Map side */
.site-level-view .selector.map {position: absolute; bottom: 0; right: 0; float: right; margin: 25px 60px; padding: 0 25px; background-color: #515151; border-radius: 30px; box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75); z-index: 10;}
.site-level-view .selector.map ul li {display: inline-block; border-radius: 2px; width: 60px; height: 52px; vertical-align: top; text-align: center; margin: 0 1px; padding: 8px 0; font-size: 10px; transition: .3s}
.site-level-view .selector.map ul li:hover {background-color: grey;}
.site-level-view .selector.map ul li.active {background-color: orange;}
.site-level-view .selector.map ul li.active:hover {background-color: rgb(247, 219, 167);}
.site-level-view .selector.map ul li label i {font-size: 20px; padding-bottom: 5px;}
.site-level-view .selector.map ul li label {color: white; display: block;}
.site-level-view .selector.map ul li input {display: none;}
.site-level-view .selector.map li img.loading {display: none;}
.selector.map p.total {display: none;}

#regionswitcher {transform: scale(1.3); margin: 14px 62px 0 0;}

/* Style Mapbox components */
#styleswitcher {padding: 10px;}
#styleswitcher li {margin: 5.5px 0;}
#styleswitcher label {margin-left: 6px;}
#legend {background-color: #515151; color: #ffffff; padding: 15px; border-radius: 10px; opacity: 0.85; width: auto; max-width: 130px;}
#legend table {padding-top: 7px;}
.mapboxgl-ctrl.mapboxgl-ctrl-attrib {border-radius: 10px;}
.mapboxgl-ctrl.mapboxgl-ctrl-group:not(#legend, #regionswitcher) {filter: invert(0.75);}

/* Vex dialog boxes */
.vex.vex-theme-plain .vex-content {color: white; background-color: #323232;}
.vex.vex-theme-plain .vex-dialog-button-primary {background-color: orange;}


/* iOS style segmented control */
.ios-segmented-control {background: rgb(85, 85, 85); border-radius: 30px; margin: 10px; padding: 2px; border: none; outline: none; display: grid; grid-auto-flow: column; grid-auto-columns: 1fr; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);}
.ios-segmented-control .option {position: relative; cursor: pointer;}
.ios-segmented-control .option:hover input:not(:checked) + label span, .ios-segmented-control .option:active input:not(:checked) + label span, .ios-segmented-control .option:focus input:not(:checked) + label span {transform: scale(1.1);}
.ios-segmented-control .option:active input:not(:checked) + label span {transform: scale(.95);}  
.ios-segmented-control .option label {position: relative; display: block; text-align: center; padding: 3px 0vmin; background: rgba(255,255,255,0); font-weight: 500; color: white; font-size: 16px; height: 50px; line-height: 44px; text-overflow: clip; overflow: hidden;}  
.ios-segmented-control .option label::before, .ios-segmented-control .option label::after {content: ''; width: 1px; background: rgba(142,142,147,.15); position: absolute; top: 14%; bottom: 14%; will-change: background; -webkit-transition: background .3s ease; transition: background .3s ease;}  
.ios-segmented-control .option label::before {left: 0; transform: translateX(-.5px);}  
.ios-segmented-control .option label::after {right: 0; transform: translateX(.5px);}  
.ios-segmented-control .option:first-of-type {grid-column: 1; grid-row: 1; box-shadow: none;}  
.ios-segmented-control .option:first-of-type label::before {opacity: 0;}  
.ios-segmented-control .option:last-of-type label::after {opacity: 0;}
.ios-segmented-control .option input {position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; padding: 0; margin: 0; -webkit-appearance: none; -moz-appearance: none; appearance: none; outline: none; border: none; opacity: 0;}  
.ios-segmented-control .selection {background: rgb(146, 146, 146); border: .5px solid rgba(0,0,0,0.04); box-shadow: 0 3px 8px 0 rgba(0,0,0,0.12), 0 3px 1px 0 rgba(0,0,0,0.04); border-radius: 30px; grid-column: 1; grid-row: 1; z-index: 2; will-change: transform; -webkit-transition: transform .2s ease; transition: transform .2s ease;}  
.ios-segmented-control .option label span {display: block; position: relative; z-index: 2; -webkit-transition: all .2s ease; transition: all .2s ease; will-change: transform;}
.ios-segmented-control .option input:checked+label::before, .ios-segmented-control .option input:checked+label::after {background: var(--background);z-index: 1;}
.ios-segmented-control .option input:checked+label {cursor: default;}

/* Small screen fixes */
@media (max-width: 1000px) {
    .site-level-view .infographic-header h1 {font-size: 20px; padding-left: 10px; margin-top: 50px;}
    .site-level-view .infographic-header-container {margin-left: 10px; display: block;}
    .headline-stats {padding-left: 10px;}
    .site-level-view .infographic-header ul.external-links {margin-left: 10px;}
    .site-level-view .infographic-header-right {padding: 0px 60px 10px 0;}
    .site-level-view .ios-segmented-control {height: 40px; margin-top: 0;}
    .site-level-view .ios-segmented-control span {height: 37px;}
    .site-level-view .ios-segmented-control .option label {font-size: 15px; line-height: 32px;}
    .site-level-view .headline-stats {padding-left: 10px;}
    .site-level-view .headline-stats .main-headline-stat h3, .site-level-view .headline-stats .main-headline-stat h4 {font-size: 16px;}
    .site-level-view .headline-stats .secondary-stats .stat h3, .site-level-view .secondary-stats .stat h4 {font-size: 14px;}
    .site-level-view .site-info-content {display: block; flex: unset;}
    .site-level-view .site-info-content .graph-container {flex-basis: unset;}
    .site-level-view .site-info-content .caption-container {flex-basis: unset;}
    .site-level-view ul.site-data-carousel li {width: 110px;}
    .site-level-view ul.site-data-carousel li .data-carousel-header div.minimap {height: 110px;}
    .site-level-view .selector.map ul {overflow-x: scroll; white-space: nowrap;}
}


/* Small screen fixes */
@media (max-width: 800px) {
    .site-level-view {display: block;}
    .site-level-view .infographic-half {display: block; height: 50vh;}
    .site-level-view .map-half {display: block; height: 50vh;}
    .site-level-view .infographic-header i.site-back-arrow {display: none;}
    .site-level-view .infographic-header h1 {font-size: 20px; padding-left: 10px; margin-top: 0;}
    .site-level-view .infographic-header-container {margin-left: 10px; display: block;}
    .headline-stats {padding-left: 10px;}
    .site-level-view .infographic-header ul.external-links {margin-left: 10px;}
    .site-level-view .infographic-header-right {padding: 0px 60px 10px 0;}
    .site-level-view .ios-segmented-control {height: 40px; margin-top: 0;}
    .site-level-view .ios-segmented-control span {height: 37px;}
    .site-level-view .ios-segmented-control .option label {font-size: 15px; line-height: 32px;}
    .site-level-view .headline-stats {padding-left: 10px;}
    .site-level-view .headline-stats .main-headline-stat h3, .site-level-view .headline-stats .main-headline-stat h4 {font-size: 16px;}
    .site-level-view .headline-stats .secondary-stats .stat h3, .site-level-view .secondary-stats .stat h4 {font-size: 14px;}
    .site-level-view .site-info-content {display: block; flex: unset;}
    .site-level-view .site-info-content .graph-container {flex-basis: unset;}
    .site-level-view .site-info-content .caption-container {flex-basis: unset;}
    .site-level-view ul.site-data-carousel li {width: 110px;}
    .site-level-view ul.site-data-carousel li .data-carousel-header div.minimap {height: 110px;}
    .site-level-view .selector.map ul {overflow-x: scroll; white-space: nowrap;}
}

.national-level-zoom {display: flex;}
.national-level-zoom .text-section {position: relative; background-color: #434343; color: white; flex: 0.75; padding: 1rem; overflow-y: scroll;}
.national-level-zoom .text-section img#beta {position: absolute; left: 20em; top: 15px;}
.national-level-zoom .graph-half {background-color: #434343; flex: 1.25; padding: 1rem;}
.national-level-zoom #observablehq-chart {padding: 25px 50px 50px 50px;}

.national-level-zoom .site-title {color: orange; font-size: 50px; display: inline-block; padding: 5px 5px 5px 20px; margin: 0;}
.national-level-zoom .site-description {color: #dbabc3; font-size: 20px; display: inline-block; padding: 5px 5px 20px 20px; margin: 0;}
.national-level-zoom .blurb {color: white; font-size: 18px; font-weight: 300; display: inline-block; padding: 10px 5px 5px 20px;}
.national-level-zoom .ios-segmented-control {margin: 50px;}
.national-level-zoom p {margin: 20px 5px 5px 20px;}

.national-level-zoom ul.links {margin: 20px; font-size: 18px;}
.national-level-zoom ul.links li {display: inline-block;}
.national-level-zoom ul.links li a {display: inline-block;}
.national-level-zoom ul.links li a {color: white; padding: 0; margin: 5px 20px 0 0; transition: .3s;}
.national-level-zoom ul.links li a:hover {transform: scale(1.05); color: orange;}

.national-level-zoom section.photos {height: auto; display: block; margin: 30px 10px 15px 20px;}
.national-level-zoom section.photos img {display: inline-block; width: 110px; margin: 0 5px;}

.national-level-zoom section.footer {margin-top: 30px;}
.national-level-zoom section.footer img {height: 90px; margin-right: 25px;}

.national-level-zoom .graph-half h2 {color: orange; font-size: 30px; display: inline-block; padding: 10px 5px 5px 20px;}
.national-level-zoom .graph-half .section-title {display:flex; flex-direction:row; align-items: center;}
.national-level-zoom .graph-half .section-title h2 {flex-grow: 0;}
.national-level-zoom .graph-half .section-title hr {flex-grow:1; height: 1px; margin-left: 10px; background-color: #9f9f9f;}
