<VirtualHost *:80>

	# Available URL(s)
	ServerName actdev.cyipt.bike
	ServerAlias actdev
	
	# Logging
	CustomLog /var/log/apache2/actdev-access.log combined
	ErrorLog /var/log/apache2/actdev-error.log

	# Where the files are
	DocumentRoot /var/www/actdev-ui/
	
	# Allow access
	<Directory />
		Require all granted
	</Directory>

	# Allow redirects in .htaccess
	<Directory />
		AllowOverride FileInfo
	</Directory>
	
</VirtualHost>

