# Update site each 5 minutes from Git
0,5,10,15,20,25,30,35,40,45,50,55 *  * * *  cyipt  cd /var/www/actdev-ui/ && git pull --quiet && yarn install --silent
0,5,10,15,20,25,30,35,40,45,50,55 *  * * *  cyipt  cd /var/www/actdev-ui/ && ./.update-abstreet.sh
